{% extends "base.html" %} {% import 'bootstrap/wtf.html' as wtf %} {% block app_content %}
<div class="row">
<h6>
<a href="{{url_for('index', _anchor=list.getAnchor(current_user))}}">Home</a> > <a href="{{url_for('view_list', id=list.id)}}">{{list.name}}</a> </h6>
</div>
<div class="row">
    <div class="col-lg-12">
        <h1> {{ list.name }} <a class="btn btn-primary btn-lg {% if not can_write %}disabled{% endif %}" href="{{url_for('new_entry', id=request.args.get('id'))}}" role="button">New Entry</a> </h1>
    </div>
</div>

<!-- <br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/> -->

<hr class="my-4">
<div class="row">
    <div class="col-lg-12">

        <div class="container-fluid">

            <table class="table table-hover" >

                <!-- <a href="" class="list-group-item list-group-item-action"> -->
                <thead>
                    <th>Date</th>
                    <th>Title</th>
                    <th>More</th>
                    <th>Actions</th>
                </thead>
                {% if not entries %}
                <tbody>
                    <td colspan="4"> No entry found. </td>
                </tbody>
                {% endif %}

                {% for entry in entries %}
                <div class="modal fade" id="remove-{{entry.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Remove Entry "{{entry.getTitle()}}" ?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure to remove the entry "{{entry.getTitle()}}" ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <a role="button" class="btn btn-primary" href="{{url_for('view_list',id=entry.list_id,remove=entry.id)}}">Yes</a>
                            </div>
                        </div>
                    </div>
                </div>
                <tbody>
                    <tr>

                        <td style="padding-right:20px;">
                            <h4 class="font-weight-bold text-info">{{ entry.getFormattedDate() }}</h4>
                            {{entry.getBadge() | safe}}
                        </td>
                        <td class="clickable" data-toggle="collapse" data-collapse-group="entries" data-target="#entry-{{ entry.id }}" aria-expanded="false" aria-controls="#entry-{{ entry.id }}" style="align:left">
                            <span class="btn" style="text-align:left">
                                <h5>{{ entry.getTitle() }}</h5>
                                <h6>{{entry.parseBibtex().entry.author }}</h6>
                                <h8>{% if not entry.parseBibtex().entry.journal %} {{entry.parseBibtex().entry.publisher}} {% else %}  {{entry.parseBibtex().entry.journal}} {%endif%}, {{entry.parseBibtex().entry.year}}</h8>
                            </span>
                        </td>
                        <td>  
                            

                            <a href="#"  data-container="body" data-toggle="popover" data-placement="right" data-content="{{entry.bibtex_content}}" data-original-title="Bibtex" aria-describedby="popover244553" onclick="this.blur();" class="btn"><i class="fa fa-book fa-2x" aria-hidden="true" title="Bibtex"></i></a>
                            <a href="{{url_for('folder',list=entry.list_id, entry=entry.id)}}" target="_blank" rel="noopener noreferrer" class="btn"><i class="fa fa-folder fa-2x" aria-hidden="true" title="Associated files"></i></a>  </td>
                        <td>
                            <a href="{{url_for('new_entry', id=entry.list_id, edit=entry.id)}}" class="btn {% if not can_write %}disabled{% endif %}"><i class="fa fa-pencil fa-2x" aria-hidden="true" style="color:#3498DB;" title="Edit entry"></i></a> &nbsp;
                            <a href="#" data-toggle="modal" data-target="#remove-{{entry.id}}" class="btn {% if not can_write %}disabled{% endif %}"><i class="fa  fa-times fa-2x" style="color:#ff3300;" title="Remove entry" aria-hidden="true"></i></a>
                            <p id="link-{{entry.id}}" hidden>{{request.url}}#entry-{{entry.id}}</p>

                            <a  class="btn" id="button-link-{{entry.id}}"  onclick="copyToClipboard('#link-{{entry.id | safe}}');"> <i title="Copy Entry Link" class="fa fa-link fa-2x" style="color:#00bc8c"></i></a>


                        </td>
                    </tr>
                </tbody>
                <tbody id="entry-{{ entry.id }}" class="collapse">
                    <tr>
                        <td colspan="4">
                            {{ entry.getFormattedContent() }}
                            {% if current_user.is_admin %}
                                <br/>
                                <h8>static folder: {{ entry.static_folder }}</h8>
                            {% endif %}
                            <br/>
                            <h8>last modified: {{ entry.last_modified.strftime(time_format) }}</h8>
                            <br/>
                            <h8>created: {{ entry.created.strftime(time_format) }}</h8>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}

            </table>

        </div>
    </div>

</div>

<div class="row">
    <div class="col-lg-12">
        <h8>last modified: {{ list.last_modified.strftime(time_format) }}</h8>
        <br/>
        <h8>created: {{ list.created.strftime(time_format) }}</h8>
    </div>
</div>
{% endblock %}