{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
<div class="row">
<h6>
<a href="{{url_for('index', _anchor=list.getAnchor(current_user))}}">Home</a> > <a href="{{url_for('view_list', id=list.id)}}">{{list.name}}</a>{% if updateMode %}  > <a href="{{url_for('view_list',id=the_entry.list_id, _anchor='entry-{}'.format(the_entry.id)
)}}">{{the_entry.getTitle()}}</a> {%endif%} </h6>
</div>

<div class="row">
    <div class="col-lg-12">
    <h1>{% if updateMode %}Update{% else  %}New{% endif %} entry.</h1>
    </div>
</div>

 <form class="form form-horizontal" method="post" role="form">
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="col-md-2">
              {# form.hidden_tag() #}
              <fieldset class="form-group required">
                <legend>Date</legend>
                  <div class="form-group">
                    <label for="day">Day
                    <input type="text" name="day" class="form-control" id="day" placeholder="0" value="{{form_preset.day}}" autocomplete="off" required></label>
                  </div>
                  <div class="form-group">
                    <label for="month">Month
                    
                    <input type="text" name="month" class="form-control" id="month" placeholder="0" value="{{form_preset.month}}"  autocomplete="off" required></label>
                  </div>
                  <div class="form-group">
                    <label for="year">Year
                    
                    <input type="text" name="year" class="form-control" id="year" placeholder="0" value="{{form_preset.year}}" autocomplete="off" required></label>
                  </div>
              </fieldset>
        </div>
        <div class="col-md-10">
              <fieldset class="form-group required">
                <legend>Entry Title</legend>

                  <div class="form-group">
                    
                    <input type="text" name="title" class="col-md-6 form-control" id="title" placeholder="Enter Title" value="{{form_preset.title}}" autocomplete="off" required>
                  </div>
              </fieldset>
              <fieldset class="form-group required">
                <legend>Entry Content</legend>
                <h8><strong>Warning:</strong> use __ __ for bold and _ _ for italic or the directly the GUI.</h8>

                  <div class="form-group" style="background:white;">
                    <textarea name="content" id="mdBox" value="" class="form-control" autocomplete="off"></textarea>
                  </div>
              </fieldset>
              <input class = "btn btn-default" id="submit" name="submit" type="submit" value="{% if updateMode %}Update Entry {% else  %} Create Entry {% endif %}" >
        </div>
    </div>


<!--     <div class="row">
      <div class="col-md-4"> -->
</form>
{% endblock %}
