{% extends "base.html" %} {% block app_content %}

<div class="row">
    <div class="col-lg-12">
        <h1>Admin stuff</h1>
    </div>
</div>
<hr class="my-4">


<div class="row">
    <div class="col-lg-8">
      <h1>TODO</h1>
      <ul>
        <li>Introductory text for lists</li>
        <li>Links database for biblio entries</li>
        <li>Crossref entry management in bibtex</li>
        <li>Edit file names</li>
        <li>Bug reporting</li>
      </ul>  
    </div>
<div class="col-lg-8">
      <ul>
        <li>use os.path.join</li>
        <li>Backup</li>
      </ul>  
    </div>
</div>
<hr class="my-4">

{% endblock %}